.drop, .list {
    border: rgba(123, 131, 121, 0.363) 2px solid;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(145, 145, 170);
    width: 300px;
    border-radius: 7px;
    margin: 2%;
    outline: none;
}

.navbar {
    background-color: white !important;
}

.nav-link>.input {
    width: 100%;
}



.drop2 {
    border: rgba(123, 131, 121, 0.363) 2px solid;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(145, 145, 170);
    width: 300px;
    margin: 2%;
    margin-right: 15px;
    border-radius: 7px;
}

.serch {
    width: 50%;
    margin-right: 250px;
    height: 40px;
}

figure {
    display: inline-block;
}






figure>img {
    width: 350px;
    height: 400px;
}

figcaption {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(37, 35, 39);
    padding: 10px;
    color: white;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* 
.btn {
    background-color: rgba(240, 248, 255, 0.397);
    margin: 2%;
    padding-top: 7px;
} */

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#warImage {
    width: 50%;
    display: block;
    margin: 0 auto;
 
}

#warh1 {
    text-align: center !important;
    display: block;
    text-transform: capitalize;
    color: rgba(177, 174, 174, 0.664);
   text-decoration: underline;
    font-size: 50px !important;
}

.mainDivSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.discription {
    margin-top: 20px;
    padding: 2%;
}

#imag {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 420px) {
    #warImage {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .serch{
        margin: 2%;
        width: 300px;
    }
    #imag {
        width: 300px !important;
        height: 300px !important;
    }
}
